<nav *ngIf="showNavbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de Reserva</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @if (user) {
          <li class="nav-item">
            <span class="nav-link">{{ user.name }} ({{ user.role }})</span>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/flights/search']">Buscar Vuelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bookings']">Mis Reservas</a>
        </li>
        @if (user?.role === 'admin') {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/flights']">Gestión de Vuelos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/reports']" routerLinkActive="active">
              <i class="bi bi-graph-up me-1"></i>Reportes
            </a>
          </li>
        }
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
